@media screen {
    body {
        background: white;
        font-family: Arial;
        margin: 0;
    }

    body[data-theme="dark"] {
        background: black;
        color: white;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
            background: black;
            color: white;
        }
    }
}

block, card, box {
    display: flex;
    display: -webkit-flex;
}

column {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.display-inline-flex {
    display: inline-flex;
}

.justify-content-center {
    justify-content: center;
}

@media screen {
    .background-color-ef {
        background-color: #ef;
    }

    .background-color-fff {
        background-color: #fff;
    }

    .background-color-rgba-255-255-255-50pct {
        background-color: rgba(255,255,255,0.5);
    }

    .background-linear-gradient-rgb {
        background: linear-gradient( -45deg, rgba(35, 166, 213, 1) 25%, rgba(50, 205, 50, 1) 50%, rgba(255, 59, 48, 1) 75% );
        background-size: 400% 400%;
        animation: gradient 15s infinite ease;
        -webkit-animation: gradient 15s infinite ease;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

@media screen {
    .border-radius-20px {
        border-radius: 20px;
    }

    .border-radius-15pct {
        border-radius: 15%;
    }
}

@media screen {
    .bottom-0 {
        bottom: 0;
    }
}

@media screen {
    .height-30px {
        height: 30px;
    }

    .height-50px {
        height: 50px;
    }

    .height-70px {
        height: 70px;
    }

    .height-100pct {
        height: 100%;
    }
}

@media screen {
    .left-0 {
        left: 0;
    }
}

@media screen {
    .margin-20px {
        margin: 20px;
    }

    .margin-bottom-5px {
        margin-bottom: 5px;
    }

    .margin-bottom-20px {
        margin-bottom: 20px;
    }

    .margin-left-auto {
        margin-left: auto;
    }

    .margin-right-auto {
        margin-right: auto;
    }
}

@media screen {
    .padding-5px {
        padding: 5px;    
    }
    
    .position-fixed {
        position: fixed;
    }
}

@media screen {
    .right-0 {
        right: 0;
    }
}

@media screen {
    .text-align-center {
        text-align: center;
    }
}

@media screen {
    .width-50px {
        width: 50px;
    }

    .width-100pct {
        width: 100%;
    }

    .width-100pct-minus-100px {
        width: calc(100% - 100px);
    }
}
