@media screen {
    body {
        background: white;
        font-family: Arial;
        margin: 0;
    }

    body[data-theme="dark"] {
        background: black;
        color: white;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
            background: black;
            color: white;
        }
    }
}

block, card, box {
    display: flex;
    display: -webkit-flex;
}

column {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.backdrop-filter-blur-10px {
    backdrop-filter: blur(10px);
}

.display-inline-flex {
    display: inline-flex;
}

@media screen {
    .justify-content-center {
        justify-content: center;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
}

@media screen {
    .background-color-333 {
        background-color: #333;
    }

    .background-color-ef {
        background-color: #ef;
    }

    .background-color-fff {
        background-color: #fff;
    }

    .background-color-ffc32c {
        background-color: #ffc32c;
    }

    .background-color-rgba-255-255-255-50pct {
        background-color: rgba(255,255,255,0.5);
    }

    .background-linear-gradient-rgb {
        background: linear-gradient( -45deg, rgba(35, 166, 213, 1) 25%, rgba(50, 205, 50, 1) 50%, rgba(255, 59, 48, 1) 75% );
        background-size: 400% 400%;
        animation: gradient 15s infinite ease;
        -webkit-animation: gradient 15s infinite ease;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

@media screen {
    .border-radius-20px {
        border-radius: 20px;
    }

    .border-radius-15pct {
        border-radius: 15%;
    }

    .border-radius-22pct {
        border-radius: 22%;
    }
}

@media screen {
    .bottom-0 {
        bottom: 0;
    }

    .bottom-10px {
        bottom: 10px;
    }
}

@media screen {
    .filter-invert-1 {
        filter: invert(1);
    }
}

@media screen {
    .height-30px {
        height: 30px;
    }

    .height-50px {
        height: 50px;
    }

    .height-70px {
        height: 70px;
    }

    .height-75pct {
        height: 75%;
    }

    .height-90pct {
        height: 90%;
    }

    .height-100pct {
        height: 100%;
    }
}

@media screen {
    .left-0 {
        left: 0;
    }
}

@media screen {
    .margin-20px {
        margin: 20px;
    }

    .margin-bottom-5px {
        margin-bottom: 5px;
    }

    .margin-bottom-10px {
        margin-bottom: 10px;
    }

    .margin-bottom-20px {
        margin-bottom: 20px;
    }

    .margin-left-5px {
        margin-left: 5px;
    }

    .margin-left-10px {
        margin-left: 10px;
    }

    .margin-left-auto {
        margin-left: auto;
    }

    .margin-right-auto {
        margin-right: auto;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .margin-auto {
        margin: auto;
    }
}

@media screen {
    .max-width-100pct-minus-100px {
        max-width: calc(100% - 100px)
    }

    .max-width-100pct-minus-40px {
        max-width: calc(100% - 40px)
    }
}

@media screen {
    .padding-5px {
        padding: 5px;
    }

    .padding-20px {
        padding: 20px;
    }

    .padding-x-10px {
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-y-5px {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .padding-5px {
        padding: 5px;
    }

    .position-fixed {
        position: fixed;
    }
}

@media screen {
    .right-0 {
        right: 0;
    }
}

@media screen {
    .text-align-center {
        text-align: center;
    }
}

@media screen {
    .width-75pct {
        width: 75%;
    }

    .width-90pct {
        width: 90%;
    }

    .width-100pct {
        width: 100%;
    }

    .width-100pct-minus-40px {
        width: calc(100% - 40px)
    }

    .width-100pct-minus-100px {
        width: calc(100% - 100px);
    }

    .width-50px {
        width: 50px;
    }

    .width-300px {
        width: 300px;
    }
}
